In [1]:
import yfinance as yf
import os

# Fetch data for a specific stock by downloading market data from Yahoo, Finance's API

ticker = 'AMZN'
amazon = yf.download(ticker, start="2015-01-01", end="2025-01-01")
print(amazon)

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   15.629000   15.737500   15.348000   15.426000   15.426000
2015-01-05   15.350500   15.419000   15.042500   15.109500   15.109500
2015-01-06   15.112000   15.150000   14.619000   14.764500   14.764500
2015-01-07   14.875000   15.064000   14.766500   14.921000   14.921000
2015-01-08   15.016000   15.157000   14.805500   15.023000   15.023000
...                ...         ...         ...         ...         ...
2024-12-24  226.940002  229.139999  226.130005  229.050003  229.050003
2024-12-26  228.500000  228.500000  226.669998  227.050003  227.050003
2024-12-27  225.600006  226.029999  220.899994  223.750000  223.750000
2024-12-30  220.059998  223.000000  218.429993  221.300003  221.300003
2024-12-31  222.970001  223.229996  218.940002  219.389999  219.389999

              Volume
Date
2015-01-02  55664000
2015-01-05  55484000
2015-01-06  70380000
2015-01-07  52806000
2015-01-08  61768000
...              ...
2024-12-24  15007500
2024-12-26  16146700
2024-12-27  27367100
2024-12-30  28321200
2024-12-31  24819700

[2516 rows x 6 columns]

In [2]:
ticker = 'AAPL'
apple = yf.download(ticker, start="2015-01-01", end="2025-01-01")
print(apple)

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   27.847500   27.860001   26.837500   27.332500   24.347174
2015-01-05   27.072500   27.162500   26.352501   26.562500   23.661274
2015-01-06   26.635000   26.857500   26.157499   26.565001   23.663502
2015-01-07   26.799999   27.049999   26.674999   26.937500   23.995319
2015-01-08   27.307501   28.037500   27.174999   27.972500   24.917271
...                ...         ...         ...         ...         ...
2024-12-24  255.490005  258.209991  255.289993  258.200012  258.200012
2024-12-26  258.190002  260.100006  257.630005  259.019989  259.019989
2024-12-27  257.829987  258.700012  253.059998  255.589996  255.589996
2024-12-30  252.229996  253.500000  250.750000  252.199997  252.199997
2024-12-31  252.440002  253.279999  249.429993  250.419998  250.419998

               Volume
Date
2015-01-02  212818400
2015-01-05  257142000
2015-01-06  263188400
2015-01-07  160423600
2015-01-08  237458000
...               ...
2024-12-24   23234700
2024-12-26   27237100
2024-12-27   42355300
2024-12-30   35557500
2024-12-31   39480700

[2516 rows x 6 columns]

In [3]:
ticker = 'META'
meta = yf.download(ticker, start="2015-01-01", end="2025-01-01")
print(meta)

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   78.580002   78.930000   77.699997   78.449997   78.151466
2015-01-05   77.980003   79.250000   76.860001   77.190002   76.896263
2015-01-06   77.230003   77.589996   75.360001   76.150002   75.860222
2015-01-07   76.760002   77.360001   75.820000   76.150002   75.860222
2015-01-08   76.739998   78.230003   76.080002   78.180000   77.882500
...                ...         ...         ...         ...         ...
2024-12-24  602.719971  607.989990  599.280029  607.750000  607.750000
2024-12-26  605.479980  606.299988  598.940002  603.349976  603.349976
2024-12-27  599.409973  601.849976  589.799988  599.809998  599.809998
2024-12-30  588.750000  596.940002  585.580017  591.239990  591.239990
2024-12-31  592.270020  593.969971  583.849976  585.510010  585.510010

              Volume
Date
2015-01-02  18177500
2015-01-05  26452200
2015-01-06  27399300
2015-01-07  22045300
2015-01-08  23961000
...              ...
2024-12-24   4726100
2024-12-26   6081400
2024-12-27   8084200
2024-12-30   7025900
2024-12-31   6019500

[2516 rows x 6 columns]

In [4]:
ticker = 'MSFT'
microsoft = yf.download(ticker, start="2015-01-01", end="2025-01-01")
print(microsoft)

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   46.660000   47.419998   46.540001   46.759998   40.152489
2015-01-05   46.369999   46.730000   46.250000   46.330002   39.783257
2015-01-06   46.380001   46.750000   45.540001   45.650002   39.199333
2015-01-07   45.980000   46.459999   45.490002   46.230000   39.697376
2015-01-08   46.750000   47.750000   46.720001   47.590000   40.865200
...                ...         ...         ...         ...         ...
2024-12-24  434.649994  439.600006  434.190002  439.329987  439.329987
2024-12-26  439.079987  440.940002  436.630005  438.109985  438.109985
2024-12-27  434.600006  435.220001  426.350006  430.529999  430.529999
2024-12-30  426.059998  427.549988  421.899994  424.829987  424.829987
2024-12-31  426.100006  426.730011  420.660004  421.500000  421.500000

              Volume
Date
2015-01-02  27913900
2015-01-05  39673900
2015-01-06  36447900
2015-01-07  29114100
2015-01-08  29645200
...              ...
2024-12-24   7164500
2024-12-26   8194200
2024-12-27  18117700
2024-12-30  13158700
2024-12-31  13246500

[2516 rows x 6 columns]

In [5]:
ticker = 'NFLX'
netflix = yf.download(ticker, start="2015-01-01", end="2025-01-01")
print(netflix)

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   49.151428   50.331429   48.731430   49.848572   49.848572
2015-01-05   49.258572   49.258572   47.147144   47.311428   47.311428
2015-01-06   47.347141   47.639999   45.661430   46.501431   46.501431
2015-01-07   47.347141   47.421429   46.271427   46.742859   46.742859
2015-01-08   47.119999   47.835712   46.478573   47.779999   47.779999
...                ...         ...         ...         ...         ...
2024-12-24  915.000000  935.849976  911.700012  932.119995  932.119995
2024-12-26  928.400024  930.489990  915.299988  924.140015  924.140015
2024-12-27  916.010010  918.130005  894.500000  907.549988  907.549988
2024-12-30  894.510010  908.229980  889.710022  900.429993  900.429993
2024-12-31  901.799988  902.679993  889.469971  891.320007  891.320007

              Volume
Date
2015-01-02  13475000
2015-01-05  18165000
2015-01-06  16037700
2015-01-07   9849700
2015-01-08   9601900
...              ...
2024-12-24   2320300
2024-12-26   2340300
2024-12-27   3226200
2024-12-30   2203000
2024-12-31   1875900

[2516 rows x 6 columns]

In [6]:
ticker = 'TSLA'
tesla = yf.download(ticker, start="2015-01-01", end="2025-01-01")
print(tesla)

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02   14.858000   14.883333   14.217333   14.620667   14.620667
2015-01-05   14.303333   14.433333   13.810667   14.006000   14.006000
2015-01-06   14.004000   14.280000   13.614000   14.085333   14.085333
2015-01-07   14.223333   14.318667   13.985333   14.063333   14.063333
2015-01-08   14.187333   14.253333   14.000667   14.041333   14.041333
...                ...         ...         ...         ...         ...
2024-12-24  435.899994  462.779999  435.140015  462.279999  462.279999
2024-12-26  465.160004  465.329987  451.019989  454.130005  454.130005
2024-12-27  449.519989  450.000000  426.500000  431.660004  431.660004
2024-12-30  419.399994  427.000000  415.750000  417.410004  417.410004
2024-12-31  423.790009  427.929993  402.540009  403.839996  403.839996

              Volume
Date
2015-01-02  71466000
2015-01-05  80527500
2015-01-06  93928500
2015-01-07  44526000
2015-01-08  51637500
...              ...
2024-12-24  59551800
2024-12-26  76366400
2024-12-27  82666800
2024-12-30  64941000
2024-12-31  76825100

[2516 rows x 6 columns]

In [7]:
# Exporting downloaded data to csvs
path = r'/Users/matthewabrams/Desktop/Stocks Data/Stock Datasets/'

amazon.to_csv(os.path.join(path, 'Original Stock Data', 'HistoricalData_Amazon.csv'))
apple.to_csv(os.path.join(path, 'Original Stock Data', 'HistoricalData_Apple.csv'))
meta.to_csv(os.path.join(path, 'Original Stock Data', 'HistoricalData_Meta.csv'))
microsoft.to_csv(os.path.join(path, 'Original Stock Data', 'HistoricalData_Microsoft.csv'))
netflix.to_csv(os.path.join(path, 'Original Stock Data', 'HistoricalData_Netflix.csv'))
tesla.to_csv(os.path.join(path, 'Original Stock Data', 'HistoricalData_Tesla.csv'))